
<h2>User info</h2>




<% if @user.errors.any? %>
  <div class = "alert">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>




<%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :image %>
      <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
  </div>

  <div class="field">
      <%= f.label :introduction %>
      <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>
    </div>

    <div class="actions">
      <%= f.submit "Update User" %>
    </div>
<% end %>
