<div class="container">
	<%= render 'layouts/notifications' %>
	<div class="row">
		<div class="col-xs-3">
			<%= render partial: 'users/user_menu', locals: { user: @user } %>
			<%= render partial: 'books/new', locals: { review: @review } %>
		</div>
		<div class="col-xs-9">
			<h2>Users</h2>
			<table class="table">
				<thead>
					<tr><th>image</th>
						<th>name</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<% @users.each do |user| %>
				<tr>
					<td><%= attachment_image_tag user,:profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40', class: " pull-left" %></td>
					<td><%= user.name %> </td>
					<td>フォロー数：<%= user.followings.count %></td>
					<td>フォロワー数：<%= user.followers.count %></td>
					<% unless current_user?(user) %>
					<td id="follow_form">
						<% if current_user.following?(user) %>
							<%= form_for(current_user.following_relationships.find_by(following_id: user.id), html: { method: :delete}) do |f| %>
							<%= f.submit "フォローを外す", class: "btn btn-large follow-btn" %>
							<% end %>
						<% else %>
							<%= form_for(current_user.following_relationships.build(following_id: user.id)) do |f| %>
							<div><%= f.hidden_field :following_id %></div>
							<%= f.submit "フォローする", class: "bnt btn-large btn-primary follow-btn" %>
							<% end %>
						<% end %>
					</td>
					<% end %>
					<td><%= link_to "Show",user_path(user) %>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>