<div class="container">

	<%= render 'layouts/notifications' %>
	<div class="row">
		<div class="col-xs-3">
			<%= render partial: 'users/user_menu', locals: { user: @user } %>
			<%= render partial: 'books/new', locals: { review: @review } %>
		</div>
		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table">
				<tr>
					<td><%= link_to user_path(@user) do%>
						<%= attachment_image_tag @user,:profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40', class: " pull-left" %>
						<br><%= @user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, book_path(@book) %> </td>
					<td><%= @book.body %></td>
					<% if @book.user == current_user %>
					<td><%= link_to edit_book_path(@book) do %>
						<button class="btn btn-success">Edit</button>
						<% end %></td>
						<td><%= link_to book_path(@book), method: :delete ,data: { confirm: '本当に消しますか？' } do %>
							<button class="btn btn-danger">Destroy</button>
							<% end %>
						</td>
						<% end %>
					</tr>
				</table>
			</div>
		</div>
	</div>